<div class="container_cl">
    <div class="cl_title">
      <span class="home_cl">Home</span>
      <span class="slash_cl"> / </span>
      <span>Category Landing Services</span>
    </div>
    <div class="cl_num">
      <p>Services</p>
    </div>
    <div class="main-select row ml-md-5" >
      <div class="col">
        <div class="select-elements">
          
          <label for="price_c">Price</label>
          <select class="custom-select" id="price_c" name="pricelist" form="priceform">
              <option value="$0.00 — $100.00">$0.00 — $100.00</option>
              <option value="$100.00 — $500.00">$100.00 — $500.00</option>
              <option value="$500.00 — $1000.00">$500.00 — $1000.00</option>
              <option value="$1000.00 — $2000.00">$1000.00 — $2000.00</option>
            </select>     
      </div>
      <div class="select-elements" style="margin-top: 40px;">
        <label for="price_c">Color</label>
        <span class="dot" style="background-color: white;"></span>
        <span class="dot" style="background-color: #43c0cf;"></span>
        <span class="dot" style="background-color: #3d402f;"></span>
        <span class="dot" style="background-color: #4aaf00;"></span> 
        <span class="dot" style="background-color: #315bbd;"></span>
        <span class="dot" style="background-color: #ec6115;"></span>
        <span class="dot" style="background-color: #dc041d;"></span>
        <span class="dot" style="background-color: #efead7;"></span>
    </div>
      </div>
      <div class="col">
        <div class="select-elements">
          <label for="brands">Brands</label>
          <select class="custom-select"  id="brands" name="brandslist" form="brandsform">
              <option value="Ukraine sport">Ukraine sport</option>
              <option value="German sport">German sport</option>
              <option value="French sport">French sport</option>
              <option value="American sport">American sport</option>
            </select>     
      </div>
      <div class="select-elements">
        <label for="sort by">Sort by</label>
        <select class="custom-select"  id="sort_c" name="sortlist" form="sortform">
            <option value="Price">Price</option>
            <option value="Featured">Featured</option>
            <option value="Avg. Customer Review">Avg. Customer Review</option>
            <option value="Newest Arrivals">Newest Arrivals</option>
          </select>     
    </div>
      </div>
      <div class="col">
        <div class="select-elements">
          <label for="price_c">Size</label>
          <select  class="custom-select"  id="size_c" name="sizelist" form="sizeform">
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
            </select>     
      </div>
     
      
      <div class="select-elements">
          <label for="price_c">Show</label>
          <select class="custom-select"  id="show_c" name="showlist" form="showform">
              <option value="16 per page">16 per page</option>
              <option value="32 per page">32 per page</option>
              <option value="64 per page">64 per page</option>
              <option value="128 per page">128 per page</option>
            </select>     
      </div>  
      </div>
    </div>
    <div class="results-cl"> 
      <h4>12,931 results in apparel</h4>
    </div>
  </div>