<section class="cl-items-section">
	<div class="wrapper">
		<div class="items-container">
			@@include('./_mixin-cl-item.html', {
			"index": "1"
			})
			@@include('./_mixin-cl-item2.html', {
			"index": "2"
			})
			@@include('./_mixin-cl-item3.html', {
			"index": "3"
			})
			@@include('./_mixin-cl-item4.html', {
			"index": "4"
			})
			@@include('./_mixin-cl-item5.html', {
			"index": "5"
			})
			@@include('./_mixin-cl-item6.html', {
			"index": "6"
			})
			@@include('./_mixin-cl-item7.html', {
			"index": "7"
			})
			@@include('./_mixin-cl-item8.html', {
			"index": "8"
            })
            @@include('./_mixin-cl-item9.html', {
            "index": "9"
            })
            @@include('./_mixin-cl-item10.html', {
            "index": "10"
            })
            @@include('./_mixin-cl-item11.html', {
            "index": "11"
            })
            @@include('./_mixin-cl-item12.html', {
            "index": "12"
            })
            @@include('./_mixin-cl-item13.html', {
            "index": "13"
            })
            @@include('./_mixin-cl-item14.html', {
            "index": "14"
            })
            @@include('./_mixin-cl-item15.html', {
            "index": "15"
            })
            @@include('./_mixin-cl-item16.html', {
            "index": "16"
            })
		</div>

		<button class="load-more">load more</button>
	</div>
</section>