<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Contact Us</h2>
                <div class="sub-heading">
                    <p>If you have any questions regarding our site, <br> please contact us and we will help you solve your problem.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 divider">
                <h3>Contact</h3>
                <div class="contact-address">
                    <ul>
                        <li>
                            <i class="fa fa-home"></i>
                            <div class="address-phone"></div>
                            <h4>Address</h4>
                            <span>28, Universytetska Street</span>
                            <span>Chernivtsi 58012 Ukraine</span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <div class="address-phone"></div>
                            <h4>Phone</h4>
                            <span>+(372)58-48-80</span>
                        </li>
                        <li>
                            <i class="fa fa-paper-plane"></i>
                            <div class="address-phone"></div>
                            <h4>Email</h4>
                            <span>clg-math@chnu.edu.ua</span>
                            <span>moodle@chnu.edu.ua</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="contact-block">
                    <h3>Drop a message</h3> 
                    <form class="contact-form">
                         <div class="row">
                             <div class="col-sm-6">
                                 <div class="form-group">
                                     <input type="text" class="form-control" placeholder="Your first name" required="required">
                                 </div>

                                 <div class="form-group">
                                    <input type="email" class="form-control" placeholder="contact@email.com" required="required">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your phone number" required="required">
                                </div>
                             </div>

                             <div class="col-sm-6">
                                 <div class="form-group">
                                     <textarea class="form-control" required="required"></textarea>
                                 </div>

                                 <div class="form-group">
                                    <input type="submit" class="btn btn-dark btn-block" value="submit queries">
                                </div>
                             </div>

                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>