<section class="main-feautured-product-section">
	<div class="wrapper">
		<div class="title-container">
			<h3>Featured Products</h3>
			<p>Unde omnis iste natus error sit voluptatem</p>
		</div>
		<div class="slider-control">
			<button class="slider-button button-left">
				<svg height="6" version="1.1" viewBox="0 0 25.988 13.984" xmlns="http://www.w3.org/2000/svg">
					<path d="m0.98828 0-0.98828 0.98828 12.994 12.996 12.994-12.996-0.98828-0.98828-12.006 12.006z"
						fill="#fff" />
				</svg>
			</button>
			<div class="button-separator">
				<svg width="29.684" height="19.342" version="1.1" viewBox="0 0 29.684 19.342"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="m 18,0 2.684,1.342 -9,18 L 9,18 Z m -9,0 2.684,1.342 -9,18 L 0,18 Z m 18,0 2.684,1.342 -9,18 L 18,18 Z"
						fill="#fff" />
				</svg>
			</div>
			<button class="slider-button button-right">
				<svg height="6" version="1.1" viewBox="0 0 25.988 13.984" xmlns="http://www.w3.org/2000/svg">
					<path d="m0.98828 0-0.98828 0.98828 12.994 12.996 12.994-12.996-0.98828-0.98828-12.006 12.006z"
						fill="#fff" />
				</svg>
			</button>
		</div>
		<div class="slider-container">
			<div class="slider-item">
				<div class="image-container" style="background-image: url(img/main-featured-1.png)"></div>
				<div class="text-container">
					<p>Kristina Dam Oak Table 
						With White Marble</p>
					<span>Awesome</span>
				</div>
			</div>
			<div class="slider-item">
				<div class="image-container" style="background-image: url(img/main-featured-2.png)"></div>
				<div class="text-container">
					<p>Kristina Dam Oak Table 
						With White Marble</p>
					<span>Marketing</span>
				</div>
			</div>
			<div class="slider-item">
				<div class="image-container" style="background-image: url(img/main-featured-3.png)"></div>
				<div class="text-container">
					<p>Kristina Dam Oak Table 
						With White Marble</p>
					<span>Awesome</span>
				</div>
			</div>
			<div class="slider-item">
				<div class="image-container" style="background-image: url(img/main-featured-4.png)"></div>
				<div class="text-container">
					<p>Hezy Theme</p>
					<span>Marketing</span>
				</div>
			</div>
		</div>
	</div>
</section>