<div class="container-sub">
    <ul>
        <li>
            <div class="title">
                Subject 1
                <p>Контроль якості та тестування програмного забезпечення</p>
                <div class="but">
                    <button type="button" class="btn btn-primary btn-lg">OPEN</button>
                </div>
                
            </div>
        </li>
        <li>
            <div class="title">
                Subject 2
                <p>Розробка програмних додатків для мобільних пристроїв</p>
                <div class="but">
                    <button type="button" class="btn btn-primary btn-lg">OPEN</button>
                </div>
            </div>
        </li>
        <li>
            <div class="title">
                Subject 3
                <p>Розробка комп'ютерних ігор</p>
                <div class="butt">
                    <button type="button" class="btn btn-primary btn-lg">OPEN</button>
                </div>
            </div>
        </li>
        <li>
            <div class="title">
                Subject 4
                <p>Англійська мова</p>
                <div class="butt">
                    <button type="button" class="btn btn-primary btn-lg">OPEN</button>
                </div>
            </div>
        </li>
        <li>
            <div class="title">
                Subject 5
                <p>Аналіз даних</p>
                <div class="butt">
                    <button type="button" class="btn btn-primary btn-lg">OPEN</button>
                </div>
            </div>
        </li>
        <li>
            <div class="title">
                Subject 6
                <p>Методи оптимізації та дослідження операцій</p>

                <div class="but">
                    <button type="button" class="btn btn-primary btn-lg">OPEN</button>
                </div>
            </div>
        </li>
        <li>
            <div class="title">
                Subject 7
                <p>Інтелектуальні інформаційні системи</p>
                <div class="but">
                    <button type="button" class="btn btn-primary btn-lg">OPEN</button>
                </div>
            </div>
        </li>
        <li>
            <div class="title">
                Subject 8
                <p>Бази даних</p>
                <div class="butt">
                    <button type="button" class="btn btn-primary btn-lg">OPEN</button>
                </div>
            </div>
        </li>
    </ul>
</div>