<section class="intro-area white" id="_about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>About Our Site</h2>
                <div class="sub-heading">
                    <p class="text-center">This site contributes to increased efficiency.<br /> Thanks to boards, lists and cards, students can organize projects and create plans for themselves<br /> - it will become much more convenient and enjoyable to work!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="intro-block">
                    <span class="intro-icon"><i class="fab fa-buffer"></i></span>
                    <h3>Organization of Projects</h3>
                    <p>Step by step implementation of your project ideas with the help of boards and cards.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="intro-block">
                    <span class="intro-icon"><i class="fab fa-battle-net"></i></span>
                    <h3>Teamwork</h3>
                    <p>Work with any team. <br /> Our site helps organize teams at work, during a side project or on a family weekend.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="intro-block">
                    <span class="intro-icon"><i class="fas fa-door-open"></i></span>
                    <h3>Information Space</h3>
                    <p>All information in a visual form. <br /> Add detailed information, such as comments, timelines and other details, directly to cards. Work on projects with colleagues from start to finish.</p>
                </div>
            </div>
        </div>
    </div>
</section>