<div class="container-sub-teach">
    <div class="bb">
        <div class="box-sub">
            <div class="title">Subject 1</div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Subject</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1 курс</option>
                    <option value="2">2 курс</option>
                    <option value="3">3 курс</option>
                    <option value="3">4 курс</option>
                    <option value="3">5 курс</option>
                    <option value="3">6 курс</option>
                </select>
            </div>
            <button type="button" class="btn btn-warning">SAVE</button>
        </div>
        <div class="box-sub">
            <div class="title">Subject 1</div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Subject</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1 курс</option>
                    <option value="2">2 курс</option>
                    <option value="3">3 курс</option>
                    <option value="3">4 курс</option>
                    <option value="3">5 курс</option>
                    <option value="3">6 курс</option>
                </select>
            </div>
            <button type="button" class="btn btn-warning">SAVE</button>
        </div>
        <div class="box-sub">
            <div class="title">Subject 1</div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Subject</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1 курс</option>
                    <option value="2">2 курс</option>
                    <option value="3">3 курс</option>
                    <option value="3">4 курс</option>
                    <option value="3">5 курс</option>
                    <option value="3">6 курс</option>
                </select>
            </div>
            <button type="button" class="btn btn-warning">SAVE</button>
        </div>
        <div class="box-sub">
            <div class="title">Subject 1</div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Subject</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1 курс</option>
                    <option value="2">2 курс</option>
                    <option value="3">3 курс</option>
                    <option value="3">4 курс</option>
                    <option value="3">5 курс</option>
                    <option value="3">6 курс</option>
                </select>
            </div>
            <button type="button" class="btn btn-warning">SAVE</button>
        </div>
        <div class="box-sub">
            <div class="title">Subject 1</div>
            <p>Контроль якості та тестування програмного забезпечення</p>
            <div class="but">
                <button type="button" class="btn btn-primary btn-lg">OPEN</button>
            </div>
        </div>
    </div>
</div>